
body {
    font-size: 200%;
    background-color: antiquewhite;
    color: navy;
    cursor: crosshair;
}

#banner {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 3px lightgray;
    margin-top: 10vh;
}

#roomsContainer {
    display:flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.column {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.room {
    text-align: center;
}

.current {
   font-weight: bold;
   color: orange;
}

.all {
    color: green;
}

.some {
    color: yellow;
}

input {
    transform: scale(2);    
}

label {
    position: relative;
    left: 0.4em;
    top: 0.1em;
}

input {
    cursor: pointer;
}

#update {
    text-align: center;
    background-color: white;
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
}

#status {
    text-align: center;
    padding: 1em;
}

#status.OK {
    color: green;
}

#status.KO {
    color: red;
}